@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-abz: "ABeeZee", sans-serif;
  --font-sans: "Open Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-volkhov: "Volkhov", serif;
}
.font-abz {
  font-family: var(--font-abz);
}

.font-sans {
  font-family: var(--font-sans);
}
.font-poppins {
  font-family: var(--font-poppins);
}
.font-volkhov {
  font-family: var(--font-volkhov);
}
.service__box {
  transition: all 0.5s linear;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  background-color: #fff;
  cursor: pointer;
}
.service__box::after {
  transition: all 0.5s linear;
  display: none;
  content: "";
  background-color: #df6951;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 86%;
  left: -9%;
  z-index: -3;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 5px;
}
.service__box:hover {
  transition: all 0.5s linear;
  box-shadow: 0px 17px 27px -5px rgb(0 0 0 / 34%);
}
.service__box:hover.service__box::after {
  transition: all 0.5s linear;
  display: block;
}
.destinations__box span {
  font-size: 15px;
}

.destinations_row {
  background-image: url("../resources/sprin.png");
  background-repeat: no-repeat;
  background-position: right;
}

.carousel-indicators {
  position: absolute;
  right: 0%;
  bottom: -0%;
  left: -78%;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.carousel-control-prev {
  top: -20%;
  left: 85%;
  transform: rotate(89deg);
}
.carousel-control-next {
  bottom: -50%;
  right: 0;
  transform: rotate(89deg);
}

/* // `xs` returns only a ruleset and no media query
// ... { ... } */

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #hero_part {
    text-align: center;
  }
  .hero__img {
    margin-top: 2rem;
  }
  .hero__img > img {
    transform: translate(-12%, 0);
  }
  .hero__h5 {
    margin-top: 0 !important;
  }
  .hero__pra {
    padding: 0 !important;
  }
  .back-bd.position-absolute {
    top: 8%;
  }

  .selling__left_col {
    padding-left: 10%;
  }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .hero__img > img {
    height: 50% !important;
  }
  .easy_and_first {
    width: 100% !important;
  }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
